body{background-color:#F8F8FA;padding-top:50px}.card-item{box-shadow:0 15px 35px rgba(89,89,111,0.1),0 5px 15px rgba(121,114,169,0.07);border-radius:8px;padding:20px;max-width:600px;margin:auto;width:100%;filter:grayscale(100%);opacity:.9;background-color:white;transition:ease-in-out .2s}.card-item:hover{opacity:1;filter:grayscale(0%) !important;transform:translateY(-3px);cursor:pointer}.card-item h1{font-size:1.3em;margin-top:5px}.card-item ul{list-style:none;padding:0;line-height:2;font-weight:300;letter-spacing:1px}.card-item figure{max-width:100px;text-align:center}.card-item .row{display:flex}.card-item .flex{display:flex;flex-flow:column;justify-content:center}.card-container{padding:10px}header .jumbotron{background-color:white !important}@media (max-width: 450px){.card-item .row{display:block}.card-item .flex{display:block}}
/*# sourceMappingURL=style.css.map */
